@import "./css/register.css";
@import "./css/login.css";
@import "./css/home.css";
@import "./css/workoutMenu.css";
@import "./css/newWorkout.css";
@import "./css/session.css";

:root{
    --primary: #d7263d;
    --accent: #f46036;
    --dark: #1a1a1a;
    --gray: #2e2e2e;
    --text: #f2f2f2;
    --success: #4caf50;
    --warning: #ffc107;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--dark);
    padding: 75px 25px 25px 25px;
}

.logo{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 250;
}

#notifier{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 22px;
    padding: 25px;
    width: calc(100% - 30px);
    text-align: center;
    z-index: 100;
}

#notifier.error{
    background: var(--warning);
    color: var(--gray);
}

#notifier.success{
    background: var(--success);
}

.standardForm{
    display: flex;
    flex-direction: column;
    background: var(--gray);
    padding: 35px;
    width: 100%;
    max-width: 550px;
}

.standardForm h1{
    font-size: 35px;
    text-align: center;
}

.standardForm label{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: 10px 0;
}

.standardForm input{
    font-size: 22px;
    color: var(--gray);
}

.standardForm button{
    font-size: 26px;
    background: var(--accent);
    margin-top: 35px;
    padding: 10px 0;
    cursor: pointer;
}

.link{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    text-decoration: underline;
}

.button{
    background: linear-gradient(var(--dark), var(--dark)) padding-box,
                linear-gradient(to right, var(--accent), var(--primary), var(--accent)) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 5px 25px;
    font-size: 22px;
    cursor: pointer;
    position: relative;
}
