#sessionPage{
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 25px;
}

#sessionButtonBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 15px;
}

#sessionExercisesBtn{
    position: absolute;
    top: 60px;
    left: 15px;
}

#sessionExercisesList{
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--dark);
    overflow-y: auto;
    z-index: 3;
}

#closeExerciseList{
    background: linear-gradient(to right, var(--accent), var(--primary));
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    color: var(--dark);
}

#sessionExercisesList .exerciseListButton{
    align-self: center;
    background: linear-gradient(to right, var(--accent), var(--primary), var(--accent));
    background-clip: text;
    color: transparent;
    border: none;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
}

#sessionNotesBtn{
    margin-bottom: 5px;
    position: relative;
}

#sessionNotesIcon{
    position: absolute;
    top: -10px;
    left: -15px;
    font-size: 35px;
    font-weight: bold;
    color: var(--accent);
}

#sessionNotesText{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 2%;
    height: 35%;
    min-height: 275px;
    width: 95%;
    max-width: 750px;
    padding: 25px 10px;
    box-shadow: 0 0 5px var(--text);
    background: var(--gray);
    z-index: 2;
}

#sessionNotesText textarea{
    height: 100%;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--gray);
    padding: 5px;
}

#noSessionText{
    color: white;
    font-size: 18px;
}

#sessionPage h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
}

.weightSet{
    padding: 10px 5px;
    border: 1px solid var(--accent);
    border-radius: 25px;
    margin: 15px 0;
    position: relative;
}

.weightSetDelete{
    background: linear-gradient(to right, var(--accent), var(--primary));
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 22px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    color: var(--dark);
}

.weightSet h3{
    margin-bottom: 15px;
}

.weightSet label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.weightSet input{
    font-size: 22px;
    padding: 5px;
    color: var(--gray);
}

#nextSessionBtn, #finishSessionBtn{
    width: 100%;
    max-width: 550px;
    padding: 15px 0;
    margin-top: 25px;
}

@media screen and (min-width: 750px){
    #sessionNotesText{
        left: calc(50% - 375px);
    }
}
